<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.css" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <title>Eashver Elango</title>
    </head>

    <body> 
        <script type="module">
            import { createApp, reactive } from 'https://unpkg.com/petite-vue?module'

            const store = reactive({
                currentTab: 'about',
                age: (Math.abs(new Date() - new Date(2003,0,11)) * 3.17098e-11).toPrecision(10),
                filters: [],
            });

            const setTab = function(t) {
                store.currentTab = t;
            };

            const currentDate = function() {
                store.age = (Math.abs(new Date() - new Date(2003,0,11)) * 3.17098e-11).toPrecision(10);
            }

            const arrayRemove = function (arr, value) { 
                return arr.filter(function(ele){ 
                    return ele != value; 
                });
            };

            var findOne = function (haystack, arr) {
                return arr.some(function (v) {
                    return haystack.indexOf(v) >= 0;
                });
            };

            function skillFilter(props) {
                return {
                    $template: '#skill-button-template',
                    name: props.name,
                    type: props.type,
                    activated: false,
                    switchButton() {
                        if(this.activated) {
                            store.filters = this.arrayRemove(store.filters, this.name);
                            this.activated = false
                        } else {
                            store.filters.push(this.name);
                            this.activated = true;
                        }
                    }
                }
            }

            createApp({
                store,
                setTab,
                currentDate,
                arrayRemove,
                findOne,
                skillFilter,
            }).mount()
        </script>

        <template id="skill-button-template">
            <input type="checkbox" class="btn-check" :id="name" autocomplete="off" @click="switchButton">
            <label class="btn" :class="[type]" :for="name">{{ name }}</label>
        </template>

        <div class="container" v-scope @vue:mounted="setInterval(currentDate, 100);">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand fs-4 pe-4" role="button" @click="setTab('about')">Eashver Elango</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item fs-6">
                          <a class="nav-link" href="#" role="button" @click="setTab('about')">About</a>
                      </li>
                      <li class="nav-item fs-6">
                        <a class="nav-link" href="#" role="button" @click="setTab('projects')">Projects</a>
                      </li>
                      <li class="nav-item fs-6">
                        <a class="nav-link" href="site/cv.pdf" target="_blank" rel="noopener noreferrer">Curriculum Vitae</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-white col-sm-8" style="width: 210px;" id="sidebar">
                        <div id="avatar">
                            <img src="site/me.jpg" class="rounded-circle" style="width: 150px;" alt="Avatar" />
                        </div>
                        <hr>
                        <div class="flex-column mb-auto" id="urls">
                            <ul class="nav nav-pills flex-column align-middle mb-auto">
                                <li class="nav-link">
                                    <i class="bi-geo-alt-fill" role="img" aria-hidden="true"></i>
                                    Seattle, WA
                                </li>
                                <li>
                                    <a href="mailto:eashelon@uw.edu" class="nav-link text-black">
                                        <i class="bi-envelope-fill" role="img" aria-hidden="true"></i>
                                        Email
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/eashver-elango/" class="nav-link text-black">
                                        <i class="bi-linkedin" role="img" aria-hidden="true"></i>
                                        Linkedin
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/eashvere" class="nav-link text-black">
                                        <i class="bi-github" role="img" aria-hidden="true"></i>
                                        Github
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
        
                    <div class="col-md-6" id="about" v-if="store.currentTab === 'about'">
                        <h2>About</h2>
                        <p>
                            Hey there! My name's Eashver Elango and I'm {{ store.age }} years old! 
                            <br><br>
                            Right now, I'm a first-year at the University of Washington studying computer science. 
                            My passion is building practical applications on the cutting edge of artificial intelligence. 
                            
                        </p>
                    </div>
        
                    <div class="col-md-8" id="projects" v-if="store.currentTab === 'projects'">
                        <h2>Skills</h2>
                        <div class="d-flex flex-row m-3 gap-2">
                            <div v-scope="skillFilter({ name: 'Machine Learning', type: 'btn-outline-danger' })"></div>
                            <div v-scope="skillFilter({ name: 'Data Visualization', type: 'btn-outline-danger' })"></div>
                            <div v-scope="skillFilter({ name: 'Project Management', type: 'btn-outline-danger' })"></div>
                        </div>
                        <div class="d-flex flex-row m-3 gap-2">
                            <div v-scope="skillFilter({ name: 'Python', type: 'btn-outline-success' })"></div>
                            <div v-scope="skillFilter({ name: 'R', type: 'btn-outline-success' })"></div>
                            <div v-scope="skillFilter({ name: 'Java', type: 'btn-outline-success' })"></div>
                            <div v-scope="skillFilter({ name: 'JS/React.js', type: 'btn-outline-success' })"></div>
                        </div>
                        <div class="d-flex flex-row m-3 gap-2">
                            <div v-scope="skillFilter({ name: 'GCP/Firebase', type: 'btn-outline-primary' })"></div>
                            <div v-scope="skillFilter({ name: 'AWS', type: 'btn-outline-primary' })"></div>
                            <div v-scope="skillFilter({ name: 'SQL', type: 'btn-outline-primary' })"></div>
                        </div>
                        <h2>Past Internships</h2>
                        <p>
                            <div :style="{ color: findOne(store.filters, ['Machine Learning', 'Data Visualization', 'Project Management', 'Python', 'R']) || store.filters.length===0 ? 'rgba(0,0,0,1)' : 'rgba(0,0,0,0.2)' }">
                                <h5>Research Intern at the Vlachos Non-coding Lab (2020-2021)</h5>
                                <ul>
                                    <li>Produced a novel deep learning model with Scikit-learn that accurately evaluates cancer in-patient risk for cancer-associated thrombosis, surpassing all existing risk analysis methods by as much as 37%</li>
                                    <li>Served as main programmer of DL pipeline and heavily collaborated with in-lab post-doctorates to analyze key proteins linked to thrombosis.</li>
                                    <li>Presented research at the virtual International Society for Thrombosis and Haemostasis Conference 2021.</li>
                                </ul>
                                <h6 style="display:inline">Skills Used:</h6> Python (Tensorflow), R (tidyverse/caret with ggplot2)
                            </div>
                            <br>
                            <div :style="{ color: findOne(store.filters, ['Machine Learning', 'Python', 'JS/React.js', 'AWS']) || store.filters.length===0 ? 'rgba(0,0,0,1)' : 'rgba(0,0,0,0.2)' }">
                                <h5>High School Intern at the UbiComp Lab (2018)</h5>
                                <ul>
                                    <li>Created a machine learning model that converts hand-drawn app designs into a workable app in Android Studio</li>
                                    <li>Part of 3 person prototyping team tasked with data mining app wireframes and producing a frontend web
                                        application for the ML model.</li>
                                </ul>
                                <h6 style="display:inline">Skills Used:</h6> Python (Tensorflow), Data Mining, Vanilla JS, Android Development
                            </div>
                        </p>

                        <p class="h2">Past Projects <span class=""style="font-size: 12px;">at least the ones I'm proud of and finished...</span></p>
                        <p>
                            <div :style="{ color: findOne(store.filters, ['JS/React.js']) || store.filters.length===0 ? 'rgba(0,0,0,1)' : 'rgba(0,0,0,0.2)' }">
                                <h5>This Website!</h5>
                                <ul>
                                    <li>My very own portfolio website made on my own to showcase my skills as a web developer.</li>
                                    <li>Built using <a href="https://github.com/vuejs/petite-vue" target="_blank" rel="noopener noreferrer" class="link-primary">petite-vue</a> and Bootstrap 5, hosted with Github Pages.</li>
                                </ul>
                                <h6 style="display:inline">Skills Used:</h6> Javascript, HTML/CSS
                            </div>
                            <br>
                            <div :style="{ color: findOne(store.filters, ['JS/React.js', 'GCP/Firebase', 'Project Management']) || store.filters.length===0 ? 'rgba(0,0,0,1)' : 'rgba(0,0,0,0.2)' }">
                                <h5>Easter.egg (2020)</h5>
                                <ul>
                                    <li>Originally a group Capstone project for my senior year Special Topics in Computing class, Easter.egg aimed to recreate the experience of finding unique objects in your area through the crowdsourcing of eastereggs.</li>
                                    <li>It features an interactive map to browse for 'eggs', directions towards those 'eggs', and a rudimentary rating system</li>
                                    <li>Built using React Native, Firestore, and Firebase Auth</li>
                                </ul>
                                <h6 style="display:inline">Skills Used:</h6> React Native, Google Cloud Platform
                            </div>
                            <br>
                            <div :style="{ color: findOne(store.filters, ['JS/React.js', 'SQL']) || store.filters.length===0 ? 'rgba(0,0,0,1)' : 'rgba(0,0,0,0.2)' }">
                                <h5>Discord QuizBowl Bot (2019)</h5>
                                <ul>
                                    <li>A fully functional QuizBowl proctor that can be run within a Discord Server, primarily used for training and practice tournaments</li>
                                    <li>Built using NodeJS and Discord's JS API with a Postgres DB backend</li>
                                </ul>
                                <h6 style="display:inline">Skills Used:</h6> NodeJS, SQL
                            </div>
                        </p>

                        <h2>Courses Taken</h2>
                        <p>
                            <ul>
                                <li :style="{ color: findOne(store.filters, ['Java', 'Project Management']) || store.filters.length===0 ? 'rgba(0,0,0,1)' : 'rgba(0,0,0,0.2)' }">
                                    <h6 style="display:inline">CSE 332: Data Structures and Parallelism (2021)</h6>
                                    <ul>
                                        <li>Covers abstract data types; fundamental graph algorithms; concurrency and synchronization; and parallelism. Uses Java.</li>
                                    </ul>
                                </li>
                                <li :style="{ color: findOne(store.filters, ['Machine Learning']) ||store.filters.length===0 ? 'rgba(0,0,0,1)' : 'rgba(0,0,0,0.2)' }">
                                    <h6 style="display:inline">CSE 312: Fundamentals of Computing II (2021)</h6>
                                    <ul>
                                        <li>Examines the fundamentals of enumerations and discrete probability</li>
                                    </ul>
                                </li>
                                <li :style="{ color: findOne(store.filters, ['Java', 'Project Management']) || store.filters.length===0 ? 'rgba(0,0,0,1)' : 'rgba(0,0,0,0.2)' }">
                                    <h6 style="display:inline">CSE 331: Software Design and Implementation (2021)</h6>
                                    <ul>
                                        <li>Explores concepts and techniques for design and construction of reliable and maintainable software systems. Uses Java.</li>
                                    </ul>
                                </li>
                                <li :style="{ color: store.filters.length===0 ? 'rgba(0,0,0,1)' : 'rgba(0,0,0,0.2)' }">
                                    <h6 style="display:inline">CSE 311: Fundamentals of Computing I (2021)</h6>
                                    <ul>
                                        <li>Examines fundamentals of logic, set theory, induction, and algebraic structures with applications to computing</li>
                                    </ul>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>